<ul>
  {{#each people}}
  <li class="person">
  <span class="person--name">
  {{#link-to "person" this}}
    {{name}}
  {{/link-to}}
  </span>
  <span class="person--stats">
    <span class="stats--wins">
      {{wins}}
    </span>
    <span class="stats--losses">
      {{losses}}
    </span>
  </span>
    {{#if isMe}} &#8592 You

    {{else}}
      <!--<button {{action 'challenge'}} class="button blue">Challenge</button>-->
    {{/if}}
  </li>
  {{/each}}
</ul>
