<ol class="leaderboard">
  <li class="leaderboard--person leaderboard--header">
    <span class="leaderboard--person--name">
    Person
    </span>
    <span class="leaderboard--stats">
      <span class="leaderboard--stat stat--win">
      W
      </span>
      <span class="leaderboard--stat stat--loss">
      L
      </span>
    </span>
  </li> 
  {{#each people}}
  <li class="leaderboard--person">
  <span class="effect--person">
    {{#link-to "person" this classNames="link--person--avatar"}}
      <img {{bind-attr src=avatar alt=name title=name}} class="leaderboard--person--avatar"> 
    {{/link-to}}
    <span class="leaderboard--person--name">
    {{#link-to "person" this classNames="link--person"}}
      {{name}}
    {{/link-to}}
    </span>
  </span>
  <span class="leaderboard--stats">
    <span class="leaderboard--stat stat--win">
      {{wins}}
    </span>
    <span class="leaderboard--stat stat--loss">
      {{losses}}
    </span>
  </span>
    {{#if isMe}} <span class="you">&#8592 You</span>

    {{else}}
      <!--<button {{action 'challenge'}} class="button blue">Challenge</button>-->
    {{/if}}
  </li>
  {{/each}}
</ol>
