<ol class="leaderboard">
  <li class="leaderboard--person leaderboard--header">
    <span class="leaderboard--person--name">
    Name
    </span>
    <span class="leaderboard--stats">
      <span class="leaderboard--stat stat--win">
      Win
      </span>
      <span class="leaderboard--stat stat--loss">
      Loss
      </span>
    </span>
  </li>
  {{#each people}}
  {{#if isMe}}
  <li class="leaderboard--person isMe">
  {{else}}
  <li class="leaderboard--person">
  {{/if}}
  <span class="effect--person">
    {{#link-to "person" this classNames="link--person--avatar"}}
      <img {{bind-attr src=avatar alt=name title=name}} class="avatar--med">
    {{/link-to}}
    <span class="">
    {{#link-to "person" this classNames="leaderboard--person--name link--person"}}
      {{name}}
    {{/link-to}}
    </span>
  </span>
  <span class="leaderboard--stats">
    <span class="leaderboard--stat stat--win">
      {{wins}}
    </span>
    <span class="leaderboard--stat stat--loss">
      {{losses}}
    </span>
  {{#if isMe}}<span class="you">&#8592 You</span>{{/if}}
  </span>
  </li>
  {{/each}}
</ol>
