<ul>
  {{#each people}}
  <li>
  {{#link-to "person" this}}
    {{name}}
  {{/link-to}}
  ({{wins}} / {{losses}})
    {{#if isMe}} &#8592 You

    {{else}}
      <!--<button {{action 'challenge'}} class="button blue">Challenge</button>-->
    {{/if}}
  </li>
  {{/each}}
</ul>
