<header class="hero">
  <h1 class="heading--large heading--table pl-lspace">{{#link-to 'people' classNames="heading--link default-link"}}Table{{/link-to}}</h1>
  <div class="utility--auth">
    <ul class="utility--list">
      <li class="utility--list-item alert--notifications">
        {{#if myChallenges.length}}<a class="alert--notifications-trigger" {{action goToLink "application" "#person-actions"}} >{{myChallenges.length}}</a>{{/if}}

        {{partial "partials/queue"}}

      </li>
      <li class="utility--list-item">
        {{#if auth.person}}
        {{#link-to "person" auth.person classNames="avatar--link"}}
        <img {{bind-attr src=auth.person.avatar alt=auth.person.name title=auth.person.name}} class="avatar--small border--med_white">
        {{/link-to}}
        {{/if}}
      </li>
      <li class="utility--list-item">
        <div class="button--auth">
          {{#if auth.person}}
          <button {{action "logout"}} class="button--login">Logout</button>
          {{else}}
          {{#if auth.isNotAuthorized}}
          <span class="warning">You're not authorized. Contact <a href="https://twitter.com/SparkTable">@SparkTable</a> to request access.</span>
          <button {{action "login"}} class="button--login">Login or Signup</button>
          {{else}}
          <button {{action "login"}} class="button--login">Login or Signup</button>
          {{/if}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</header>
