{{#if myChallenges.length}}
<div class="challenges--container" {{bind-attr class="isChallengePopup:visible"}}>
  <h4 class="challenges--header pad-med">Your Challenges ({{auth.person.challenges.length}}) <button {{action challengePopup false}} class="button button--close close--challenges">X</button></h4>
  <ul class="action--list pad pad-med">
    {{#each myChallenges}}
    <li>
      <span class="challenges--challenger">{{home.name}}</span>
      <div class="challenge--actions">
        <button {{action 'acceptChallenge' this bubbles=false}} class="button positive challenges--action">Accept</button>
        <button {{action 'declineChallenge' this bubbles=false}} class="button negative challenges--action">Decline</button>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
{{#if auth.person.responses.length}}
<div class="responses">
  <h4 class="action--header">Responses ({{auth.person.responses.length}})</h4>
  <ul class="action--list">
    {{#each auth.person.responses}}
    <li>
      challenge declined by {{away.name}}
      <button {{action 'removeResponse' this}} class="button black">Ok</button>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
