      <div class="waitinglist">
      {{#each wait in waitingList}}
      {{#if wait.person.isWaiting}}
      <div class="action--container action--container--ping">
        {{#unless wait.isMe}}
        <img {{bind-attr src=wait.person.avatar alt=wait.person.name title=wait.person.name }} class="game--person--avatar"> Ping?
        <span class="ping--time time">{{wait.time}}</span>
        {{#if auth.person.name}}
        <button {{action 'acceptGame' wait.person auth.person}} class="button blue">Pong!</button>
        {{/if}}
        {{else}}
        <img {{bind-attr src=auth.person.avatar alt=auth.person.name title=auth.person.name }} class="game--person--avatar"> Ping?
        <span class="ping--time time">{{wait.time}}</span>
        {{/unless}}
      </div>
      {{/if}}
      {{/each}}
      </div>
