{{#if currentGames.length}}
{{partial "partials/gameStatus"}}
{{/if}}
{{partial "partials/header"}}
{{partial "partials/nav"}}
{{partial "partials/queue"}}
<div class="main">
<div class="content--container">
  {{partial "partials/moderator"}}
  {{outlet}}
</div> <!-- main -->
<div class="content--other">
{{#if pendingGames.length}}
  {{partial "partials/queue_pendingGame"}}
{{/if}}
</div>
</div>
{{partial "partials/footer"}}
