{{#if currentGames.length}}
{{partial "partials/gameStatus"}}
{{/if}}
{{partial "partials/header"}}
{{partial "partials/nav"}}
<div class="main">
  {{partial "partials/moderator"}}

  {{outlet}}
</div> <!-- main -->

{{partial "partials/footer"}}
