<header class="hero">
  <h1 class="hero--text">Table</h1>
</header>
<div class="main">
  <header class="banner">
    <nav>
      <ul class="banner--navigation">
        <li class="banner--navigation--item"><a href="#/">Table Listing</a></li>
        <li class="banner--navigation--item"><a href="#/games">Game History</a></li>
        <li class="banner--navigation--item banner--navigation--login">
          {{#if auth.person}}
            Logged in as {{auth.person.name}}
            <button {{action "logout"}} class="button grey">Logout</button>
          {{else}}
            <button {{action "login"}} class="button grey">Login or Signup</button>
          {{/if}}
          </li>
      </ul>
    </nav>
  </header>
    {{#if currentGames.length}}
    <div class="currentGame">
      {{#each game in currentGames }}
        <div class="game">
          Current Match:
          {{#link-to 'currentGame'}}
          <span class="player home">{{game.home.name}}</span>
          <span class="vs">vs</span>
          <span class="player away">{{game.away.name}}</span>
          {{/link-to}}
          <span class="time">{{game.time}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{outlet}}
  <div class="content--other">
{{#if pendingGames.length}}
    <div class="pendingGames">
      <h3>Pending Games</h3>
      {{#each game in pendingGames}}
        <div class="game">
          <span class="player home">{{game.home.name}}</span>
          <span class="vs">vs</span>
          <span class="player away">{{game.away.name}}</span>
      {{/each}}
    </div>
  {{/if}}
    <h3 class="action--header">Challenges</h3>
{{#if auth.person.challenges.length}}
    <ul class="action--list">
    {{#each auth.person.challenges}}
    <li> 
      {{home.name}}
      <button {{action 'acceptChallenge' this}} class="button blue">Accept</button>
      <button {{action 'declineChallenge' this}} class="button black">Decline</button>
      </li>
    {{/each}}
    {{#each auth.person.responses}}
    <li> 
      Challenge declined by {{away.name}}
      <button {{action 'removeResponse' this}} class="button black">Ok</button>
      </li>
    {{/each}}
    </ul>
  {{else}}
    No challenges.
  {{/if}}
    <h3 class="action--header">Waiting List</h3>
    {{#if waitingList.length}}
    {{#each wait in waitingList}}
      {{#if wait.person.isWaiting}}
        <p>
        {{#unless wait.isMe}}
          {{wait.person.name}}: Ping?
          {{#if auth.person.name}} 
            <button {{action 'acceptGame' wait.person auth.person}} class="button blue">Pong!</button>
          {{/if}}
        {{else}}
          {{auth.person.name}}: Ping?
        {{/unless}}
        </p>
      {{/if}}
    {{/each}}
  {{else}}
  No one is waiting.
  {{/if}}
  </div>
</div>
<footer class="clearfix footer">
Table - 2014 - by Patrick Simpson 
</footer>
