<header class="hero">
  <h1 class="hero--text">Table</h1>
</header>
<div class="main">
  <header class="banner">
    <nav>
      <ul class="banner--navigation">
        <li class="banner--navigation--item"><a href="#/">Table Listing</a></li>
        <li class="banner--navigation--item"><a href="#/games">Game History</a></li>
        <li class="banner--navigation--item banner--navigation--login">
          {{#if auth.person}}
            Logged in as {{auth.person.name}}
            <button {{action "logout"}} class="button grey">Logout</button>
          {{else}}
            <button {{action "login"}} class="button grey">Login or Signup</button>
          {{/if}}
          </li>
      </ul>
    </nav>
  </header>
  <ul>
  {{#each auth.person.challenges_away}}
   <li> 
    You're challenged by {{home.name}}
    <button {{action 'acceptChallenge' this}} class="button blue">Accept</button>
    <button {{action 'declineChallenge' this}} class="button black">Decline</button>
    </li>
  {{/each}}
  </ul>
  <h2>SparkTable ({{people.length}})</h2>
  {{#each people}}
    {{#if is_waiting}}
      <p>
      {{name}} is looking to play. 
      {{#if auth.person}} 
        <button {{action 'joinWaitList'}} class="button green">Join</button>
      {{/if}}
      </p>
    {{/if}}
  {{/each}}
  <div class="content">
    {{outlet}}
  </div>
</div>
<footer class="footer">
Table - 2014 - by Patrick Simpson 
</footer>
