<h1>Table</h1>
<header>
  <nav>
    <ul>
      <li><a href="/">Table Listing</a></li>
    </ul>
  </nav>
</header>
People on table: {{people.length}}
<div class="content">
{{outlet}}
{{#if isAdding}}
  {{add-person}}
{{else}}
 <button {{action 'showAdd'}}>Add Person</button> 
{{/if}}
</div>
<footer>
Table footer 
</footer>
