<header class="hero">
  <h1 class="hero--text">Table</h1>
</header>
<div class="main">
  <header class="banner">
    <nav>
      <ul class="banner--navigation">
        <li class="banner--navigation--item"><a href="#/">Table Listing</a></li>
        <li class="banner--navigation--item"><a href="#/games">Game History</a></li>
        <li class="banner--navigation--item banner--navigation--login">
          {{#if auth.person}}
            Logged in as {{auth.person.name}}
            <button {{action "logout"}} class="button grey">Logout</button>
          {{else}}
          <button {{action "login"}} class="button grey">Login or Signup</button>
          {{/if}}
          </li>
      </ul>
    </nav>
  </header>
  <h2>SparkTable ({{people.length}})</h2>
  <div class="waiting">
  {{#if wait}}
  {{#each wait}}
    <p>
    {{person.name}} is waiting to play.
    </p>
  {{/each}}
  {{else}}
    <p>No one waiting.</p>
  {{/if}}
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>
<footer class="footer">
Table - 2014 - by Patrick Simpson 
</footer>
