<header class="hero">
  <h1 class="hero--text">Table</h1>
</header>
<div class="main">
  <header class="banner">
    <nav>
      <ul class="banner--navigation">
        <li class="banner--navigation--item"><a href="#/">Table Listing</a></li>
        <li class="banner--navigation--item"><a href="#/games">Game History</a></li>
        <li class="banner--navigation--item banner--navigation--login">
          {{#if auth.person}}
            Logged in as {{auth.person.name}}
            <button {{action "logout"}} class="button grey">Logout</button>
          {{else}}
            <button {{action "login"}} class="button grey">Login or Signup</button>
          {{/if}}
          </li>
      </ul>
    </nav>
  </header>
  <h2>SparkTable ({{people.length}})</h2>
  <div class="currentGame">
    <h3>Current Game</h3>
    {{#each game in currentGame }}
      <div class="game">
        <span class="player home">{{game.home.name}}</span>
        <span class="vs">vs</span>
        <span class="player away">{{game.away.name}}</span>
        {{#link-to game}}View game{{/link-to}}
    {{/each}}
  </div>
  <div class="pendingGames">
    <h3>Pending Games</h3>
    {{#each game in pendingGames}}
      <div class="game">
        <span class="player home">{{game.home.name}}</span>
        <span class="vs">vs</span>
        <span class="player away">{{game.away.name}}</span>
    {{/each}}
  <h3>Challenges</h3>
  <ul>
  {{#each auth.person.challenges}}
   <li> 
    You're challenged by {{home.name}}
    <button {{action 'acceptChallenge' this}} class="button blue">Accept</button>
    <button {{action 'declineChallenge' this}} class="button black">Decline</button>
    </li>
  {{/each}}
  {{#each auth.person.responses}}
   <li> 
    Challenge declined by {{away.name}}
    <button {{action 'removeResponse' this}} class="button black">Ok</button>
    </li>
  {{/each}}
  </ul>
  <h3>Waiting for players (ping?)</h3>
  {{#each wait in waitingList}}
    {{#if wait.person.is_waiting}}
      <p>
      {{#unless wait.isMe}}
        {{wait.person.name}} is looking to play. 
        {{#if auth.person.name}} 
          <button {{action 'acceptGame' wait.person auth.person}} class="button green">Join</button>
        {{/if}}
      {{else}}
        Waiting for challenges...
      {{/unless}}
      </p>
    {{/if}}
  {{/each}}
  <div class="content">
    {{outlet}}
  </div>
</div>
<footer class="footer">
Table - 2014 - by Patrick Simpson 
</footer>
