<div class="content--container">
<h2>Game History</h2>
<ul>
{{#each games}}
<li>
{{away.name}}
({{awayScore}})
{{#if awayWinner}}
W
{{else}}
L
{{/if}}
, 
{{home.name}}
({{homeScore}})
{{#if homeWinner}}
W
{{else}}
L
{{/if}}
{{date}}
</li>
{{/each}}
</ul>
</div>
