<div class="content--container--game gameview">
  <h2 class="gameview--main">Current Match</h2>
  <div class="gameview--current">
  <div class="player--content player--home">
    <span class="player--name">{{home.name}}</span>
    <span class="overall--score">{{homeScore}}</span>
  </div>
  <div class="player--content player--away">
    <span class="overall--score">{{awayScore}}</span>
    <span class="player--name">{{away.name}}</span>
  </div>
  <div class="gameview--actions">
    {{#each roundsWithIndex}}
    {{#with round}}
      {{#unless this.isComplete}}
        {{#if this.isCurrent}}Game Active{{/if}}
        {{else}}
        {{#if this.isCurrent}}
        <div class="match--action">
          {{#unless controller.confirmEndMatch}}
            <button {{action newRound}} class="button blue">New Game</button>
            <button {{action confirmEndGame}} class="button grey">End Match</button>
          {{else}}
            <p>Please check game scores and press ok to confirm:</p>
          <button {{action endGame}} class="button grey">Ok</button>
          <button {{action undoEndGame}} class="button black">Cancel</button>
          {{/unless}}          
        </div>
        {{/if}}
      {{/unless}}
    {{/with}}
    <h3 class="gameview--header clearfix">Game {{index}}</h3>
    {{#with round}}
    <div class="gameview--content clearfix">
      <div class="actions actions--home">
        {{#unless this.isComplete}}{{#if this.isCurrent}}<button {{action addPointHome}} class="button green">+</button>{{/if}}{{/unless}}
        {{#if isComplete}}{{#if homeWon}}W{{/if}}{{/if}} <span class="score">{{homeScore}}</span>
        {{#unless this.isComplete}}{{#if this.isCurrent}}<button {{action subtractPointHome}} class="button red">-</button>{{/if}}{{/unless}}
      </div> 
      <div class="actions actions--away">
        {{#unless this.isComplete}}{{#if this.isCurrent}}<button {{action subtractPointAway}} class="button red">-</button>{{/if}}{{/unless}}
        <span class="score">{{awayScore}}</span>{{#if isComplete}}{{#if awayWon}}W{{/if}}{{/if}}
        {{#unless this.isComplete}}{{#if this.isCurrent}}<button {{action addPointAway}} class="button green">+</button>{{/if}}{{/unless}}
      </div>
      <div class="gameview--end">
        {{#unless this.isComplete}}{{#if this.isCurrent}}<button {{action endRound this}} class="endround button blue">End Round</button>{{/if}}
        {{else}}
          {{#if this.isCurrent}} 
          Game Over!
          {{/if}}
        {{/unless}}
      </div>
    </div>
    {{/with}}
    {{/each}}
  </div>
  </div>
</div>
