{{#if isActiveGame}}
<div class="content--container--game gameview">
  <h2 class="gameview--main">Current Match</h2>
  <div id="activeGameContainer" class="gameview--current">
  {{partial "partials/current_header"}}
  <div class="message">{{message}}</div>
  <div class="gameview--actions">
    <div class="scoring--input">
      {{input type="number" value=currentHomeScore class="score--input score--home" focus-in="clearTempHome" focus-out="homeScoreChanges" min="0" max="99" tabindex=1}}
      {{input type="number" value=currentAwayScore class="score--input score--away" focus-in="clearTempAway" focus-out="awayScoreChanges" min="0" max="99" tabindex=2}}
    </div>
    {{#each roundsWithIndex}}
    {{partial "partials/current_round"}}
    {{/each}}
    </div>
    {{partial "partials/current_footer"}}
  </div>
</div>
{{else}}
  <div class="content--container">
    <p>No active games</p>
    <p>{{#link-to 'moderator'}}Schedule a game?{{/link-to}}</p> 
  </div>
{{/if}}
