{{#if isWaiting}}
  Someone is waiting
{{/if}}
{{#if isAdding}}
<h2>Add Person</h2>
{{#each errors}}<p class="error">{{this}}</p>{{/each}}
  <form {{action 'addPerson' on="submit"}}>
  <label for="personName">Name</label>
  {{input type="text" valueBinding='personName' placeholder="Happy Panda" required="true"}}
  <label for="personEmail">Email</label>
  {{input type="email" valueBinding='personEmail' placeholder="your@email.com" required="true"}}
  <div class="button--container">
    <button class="button blue">Add</button>
    <button {{action 'cancelAddPerson'}} class="button black">Nevermind</button>
  </div>
  </form>
  
{{else}}
  <h2>Leaderboard</h2>
  {{people-list people=people}}
{{/if}}
