<div class="content--container">
<div class="profile">
  <h2>
    <img {{bind-attr src=avatar alt=name title=name}} class="person--avatar">
    <span class="person--name">{{name}}</span>
    {{#if isMe}}<span class="you">&#8592 You</span>{{/if}}
  </h2>
  {{hasChallenges}}
  {{#if isMe}}<!--<button {{action 'editPerson'}} class="button grey">Edit</button>-->{{/if}}
  {{#unless isMe}}
    {{#if isChallenged}}
      You challenged {{name}}
    {{else}}
      {{#if authedPerson}}
        <button {{action 'challengeRequest'}} class="button blue">Challenge!</button>
      {{/if}}
    {{/if}}
  {{else}}
    {{#if authedPerson}}
      {{#unless isWaiting}}
        <button {{action 'joinWaitingList'}} class="button green">Ping?</button>
      {{else}}
        <button {{action 'leaveWaitingList'}} class="button black">Cancel Ping</button>
      {{/unless}}
    {{/if}}
  {{/unless}}
  {{outlet}}
  <div class="person--stats">
    <p>
      <span class="person--stat">Wins:</span><span class="stat-wins">{{wins}}</span>
    </p>
    <p>
      <span class="person--stat">Losses:</span><span class="person--stat stat-losses">{{losses}}</span>
    </p>
  </div>
  <h3>Recent Games</h3>
  {{#each games}}
    <p>{{game.score}}</p>
  {{/each}}
</div>
{{#if isEditing}}
  <h3>Edit User</h3>
  {{input type="text" value=name}}
  <label for="email">Email:</label>
  {{input type="email" value=email}}
  <p>
    <button {{action doEditPerson}} class="button blue">Save</button>
    <button {{action cancelEditPerson}} class="button black">Nevermind</button>
  </p>
{{/if}}
{{#if isAuthAdmin}}
  <h3>Administrator Options</h3>
  <div class="adminarea deleteme">
    {{input type="checkbox" checked=iAmSure id="iamsure"}}
    <label for="iamsure">Delete this user?</label>
    <button {{action 'deleteMe'}} class="button black">Delete</button>
  </div>
{{/if}}
</div>
