<div class="content--container">
<div class="profile" {{bind-attr class="isMe:isMe"}}>
  <h2>
    <img {{bind-attr src=avatar alt=name title=name}} class="person--avatar">
    <span class="person--name">{{name}}</span>
  </h2>
  <div class="profile--content">
  <span class="date person--lastPlayed">Last game ({{lastStatus}}) {{lastPlayed}}</span>
    {{hasChallenges}}
    <h4 class="profile--content--header">Actions</h4>
    <div class="profile--actions">
    {{#if isMe}}<!--<button {{action 'editPerson'}} class="button grey">Edit</button>-->{{/if}}
    {{#unless isMe}}
      {{#if isChallenged}}
        You challenged {{name}}
      {{else}}
        {{#if authedPerson}}
          <button {{action 'challengeRequest'}} class="button blue">Challenge!</button>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if authedPerson}}
        {{#unless isWaiting}}
          <button {{action 'joinWaitingList'}} class="button green">Ping?</button>
        {{else}}
          <button {{action 'leaveWaitingList'}} class="button black">Cancel Ping</button>
        {{/unless}}
      {{/if}}
    {{/unless}}
    </div>
    {{outlet}}
    <h4 class="profile--content--header">Stats</h4>
    <div class="person--stats">
      <p>
        <span class="person--stat">Wins:</span><span class="stat-wins">{{wins}}</span>
      </p>
      <p>
        <span class="person--stat">Losses:</span><span class="person--stat stat-losses">{{losses}}</span>
      </p>
    </div>
  </div>
  {{completedGames}}
  <h3>Game History ({{games.length}})</h3>
<ul class="completedGames gameListing">
{{#each games}}
<li class="game">
  <span class="game--person">
    <span class="game--stats">
      <span class="game--score">{{homeScore}}</span>
    </span>
{{#if homeWinner}} 
    <span class="game--person-name person--won">
{{else}}
    <span class="game--person-name">
{{/if}}
      <img {{bind-attr src=home.avatar alt=home.name title=home.name }} class="game--person--avatar">
{{#link-to 'person' home}}{{home.name}}{{/link-to}}
    </span>
  </span> 
  <span class="game--person">
    <span class="game--stats">
      <span class="game--score">{{awayScore}}</span>
    </span>
{{#if awayWinner}} 
    <span class="game--person-name person--won">
{{else}}
    <span class="game--person-name">
{{/if}}
      <img {{bind-attr src=away.avatar alt=away.name title=away.name }} class="game--person--avatar">
{{#link-to 'person' away}}{{away.name}}{{/link-to}}
    </span>
  </span> 
  <span class="game--date">
    {{date}}
  </span>
</li>
{{/each}}
</ul>
</div>
{{#if isEditing}}
  <h3>Edit User</h3>
  {{input type="text" value=name}}
  <label for="email">Email:</label>
  {{input type="email" value=email}}
  <p>
    <button {{action doEditPerson}} class="button blue">Save</button>
    <button {{action cancelEditPerson}} class="button black">Nevermind</button>
  </p>
{{/if}}
{{#if isAuthAdmin}}
  <h3>Administrator Options</h3>
  <div class="adminarea deleteme">
    {{input type="checkbox" checked=iAmSure id="iamsure"}}
    <label for="iamsure">Delete this user?</label>
    <button {{action 'deleteMe'}} class="button black">Delete</button>
  </div>
{{/if}}
</div>
