<div class="profile">
  <h2>{{name}}</h2>
  <a href="#">Challenge</a>
  <div class="stats">
    Wins: <span class="wins">{{wins}}</span>
    Losses: <span class="losses">{{losses}}</span>
  </div>
  {{#each games}}
    <p>{{game.score}}</p>
  {{/each}}
</div>
<div class="deleteme">
  <label for="iamsure">I have decided that I am not a fun person, therefore I wish to be deleted: </label>
  {{input type="checkbox" checked=iAmSure id="iamsure"}}
  <button {{action 'deleteMe'}} class="button black">Delete Me</button>
</div>