<div class="content--container">
<div class="profile" {{bind-attr class="isMe:isMe"}}>
  <h2>
    <img {{bind-attr src=avatar alt=name title=name}} class="person--avatar">
    <span class="person--name">{{name}}</span>
  </h2>
  <div class="profile--content">
  <span class="date person--lastPlayed"><b>{{lastStatus}}</b> last game {{lastPlayed}} </span>
    {{hasChallenges}}
    {{partial "partials/person_actions"}}
    {{partial "partials/person_stats"}}
  </div>
  {{completedGames}}
  {{partial "partials/person_history"}}
</div>
{{#if isEditing}}
  <h3>Edit User</h3>
  {{input type="text" value=name}}
  <label for="email">Email:</label>
  {{input type="email" value=email}}
  <p>
    <button {{action doEditPerson}} class="button blue">Save</button>
    <button {{action cancelEditPerson}} class="button black">Nevermind</button>
  </p>
{{/if}}
{{#if isAuthAdmin}}
  <h3>Administrator Options</h3>
  <div class="adminarea deleteme">
    {{input type="checkbox" checked=iAmSure id="iamsure"}}
    <label for="iamsure">Delete this user?</label>
    <button {{action 'deleteMe'}} class="button black">Delete</button>
  </div>
{{/if}}
</div>
