<div class="profile">
  <h2>{{name}}</h2>{{#if isMe}}<button {{action 'editPerson'}} class="button grey">Edit</button>{{/if}}
  {{#unless isMe}}
    <button {{action 'challengeRequest'}} class="button blue">Challenge!</button>
  {{else}}
    {{#unless is_waiting}}
      <button {{action 'joinWaitingList'}} class="button green">Join Queue</button>
    {{else}}
      <button {{action 'leaveWaitingList'}} class="button red">Leave Queue</button>
    {{/unless}}
  {{/unless}}
  {{outlet}}
  <div class="stats">
    Wins: <span class="wins">{{wins}}</span>
    Losses: <span class="losses">{{losses}}</span>
  </div>
  {{#each games}}
    <p>{{game.score}}</p>
  {{/each}}
</div>
{{#if isEditing}}
  <h3>Edit User</h3>
  {{input type="text" value=name}}
  <label for="email">Email:</label>
  {{input type="email" value=email}}
  <p>
    <button {{action doEditPerson}} class="button blue">Save</button>
    <button {{action cancelEditPerson}} class="button black">Nevermind</button>
  </p>
{{/if}}
{{#if isAuthAdmin}}
  <h3>Administrator Options</h3>
  <div class="adminarea deleteme">
    {{input type="checkbox" checked=iAmSure id="iamsure"}}
    <label for="iamsure">Delete this user?</label>
    <button {{action 'deleteMe'}} class="button black">Delete</button>
  </div>
{{/if}}
