<div class="profile">
  <h2>{{name}}</h2>
  {{#unless isMe}}
    <button {{action 'challengeRequest'}} class="button blue">Challenge!</button>
  {{else}}
    <button {{action 'joinQueue'}} class="button green">Join Queue</button>
  {{/unless}}
  <div class="stats">
    Wins: <span class="wins">{{wins}}</span>
    Losses: <span class="losses">{{losses}}</span>
  </div>
  {{#each games}}
    <p>{{game.score}}</p>
  {{/each}}
</div>
{{#if is_admin}}
  <div class="deleteme">
    <label for="iamsure">Delete this user?: </label>
    {{input type="checkbox" checked=iAmSure id="iamsure"}}
    <button {{action 'deleteMe'}} class="button black">Delete!</button>
  </div>
{{/if}}
